@mixin light-theme {
    --theme-base: #F2F2F2;
    --theme-text: #1E2940;

    --theme-primary: #462362;
    --theme-primary-text: #F2DCC9;

    --theme-accent: #6F2C2C;

    --theme-surface1: #4449A6;
}

@mixin dark-theme {
    // TODO:
    --theme-base: #1c2a5e;
    --theme-text: #000;

    --theme-primary: #000;
}

:root {
    @include light-theme();

    // Corresponds to roughly 75ch
    --width: 37.5em;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-theme();
    }
}

html.forcedark {
    @include dark-theme();
}

html.forcelight {
    @include light-theme();
}

html {
    font-size: 100%;
}

@media print {
    body {
        font-size: 8pt;
    }
}

body {

    background: var(--theme-base);
    color: var(--theme-text);
}

a {
    color: var(--theme-accent);
}

// a:hover {
//     // color: var(--theme-sky);
// }
//
// a:visited {
//     // color: var(--theme-lavender);
// }
//
// // inline code
// :not(pre)>code {
//     // background: var(--theme-crust);
//     // color: var(--theme-text);
// }
//
// // code blocks without highlighting
// :not(div.highlight)>pre {
//     // background: var(--theme-crust);
//     // color: var(--theme-text);
// }

pre {
    overflow-x: auto;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2rem;

    background: var(--theme-surface1);
    color: var(--theme-base);

    margin: 1rem 0;
    padding: 2rem 0rem;

    margin-left: calc((100vw - 100%) / -2);
    padding-left: calc((100vw - 100%) / 2);
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.0rem;
}

article {
    max-width: var(--width);
    margin: 0 auto;
}
